/* This sheet is for recipes */

*{
    line-height: 1.5;
    font-family: 'Asap Condensed', sans-serif;
}

img{
    width: 256px;
    height: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

body{
    background: url(../../images/background.gif) no-repeat center fixed;
    background-size: cover;
}

/* change the h1 tag to a div with an appropriate class selector and style appropriately */

div a.title{
    font-size: 50px;
    font-weight:700;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;

}
div a.title:hover{
    color: wheat;
}

h2{
    font-weight: 600;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 0;
    color:rgba(3, 165, 3, 0.788);
}


.lasagna{
    margin-bottom:-80px
}

.ravioli{
    margin-bottom: -10px;
}

.food-image, .ravioli{
    margin-bottom: -15px;
    margin-top: 10px;
}

h1 a{
    text-decoration: none;
    color:black
}

h3{
    color: rgb(243, 15, 3);
    font-weight: 300;
    font-size: 18px;

}

.description p{
    text-align: left;
    width: 400px;
    font-weight: lighter;
    font-size: 13px;
}

p .quantity{
    font-size: 11px;
    font-style: oblique;
}
ol li{
    overflow-wrap: normal;
    padding: 10px;
    max-width: 600px;
}

ul, ol{
    text-overflow: inherit;
}

.ingrediants, .steps{
    color: rgb(255, 136, 0);
    font-size: 50px;
    margin-top: -20px;
    margin-bottom: -20px;
}

footer{
    font-weight: 100;
    font-size: 12px;
    text-align: center;

}