/* This sheet is for the home page */

body{
    background: url(../images/background.gif) no-repeat center fixed;
    background-size: cover;
    font-family: 'Asap Condensed', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

div a.title{
    font-size: 50px;
    font-weight:700;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: block;
}
div a.title:hover{
    color:crimson
}
img.chef{
    max-width:512px;
    height:auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
    border-radius: 5%;

    
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* remove the link decoration from the recipes list and shage their color to black */

li a{
    text-decoration: none;
    color: rgb(243, 15, 3);
    font-weight: 300;
    font-size: 20px;;
}

li a:hover{
    color:rgb(191, 159, 0);
}

article{
    margin-top: 3%;
}

footer{
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}

.intro{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 100;
    
}
.external{
    text-decoration: none;
}

.external.social-media{
    font-weight: 500;
    font-style: italic;
}



.external{
    color:rgb(248, 26, 248);
}
.external:hover{
    color: rgb(247, 88, 88);
}

.external:visited{
    color: rgb(240, 8, 47);
}

/* .carbonara:hover::after{ */
    display:block;
    content: url(../recipes/images/hover/carbonara.gif);
    float:initial;
}
