/* This sheet is for the home page */

body{
    background: url(../images/background.gif) no-repeat center fixed;
    background-size: cover;
    font-family: 'Asap Condensed', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* remove the link decoration from the recipes list and shage their color to black */

li a{
    text-decoration: none;
    color: rgb(243, 15, 3);
    font-weight: 100;
    font-size: 18px;
}

footer{
    font-weight: 100;
    font-size: 12px;
    text-align: center;
    margin-top: auto;
}